<form>
	<fieldset>
	<label>Title:</label>
	<input type='text' ng-model="vm.title" required></input>
	</fieldset>
	<fieldset>
	<label>Content:</label>
	<textarea ng-model="vm.description"></textarea>
	</fieldset>
	<fieldset>
	<label>Time:</label>
	<input type='text' ng-model="vm.time"></input>
	</fieldset>

	<h3 ng-if="vm.title&&vm.description">You plan to add a TODO: {{vm.title}}: {{vm.description}} at {{vm.time}}</h3>
	<div class='row'>
		<a class='btn span6' href="#/">CANCEL</a>
		<button type='submit' ng-click="vm.submitItem()" class='span6'>SUBMIT</button>
	</div>
</form>